################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SignalRHub/bin/Debug/net5.0
/SignalRHub/obj
